<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.football.freekick">

    <!-- 手机震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 获取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- &lt;!&ndash; 用于进行网络定位 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <!-- &lt;!&ndash; 用于访问GPS定位 &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
    <!-- 访问wifi网络信息,wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 操作摄像头 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 操作键盘锁 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <!-- 读取联系人 -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/freekick_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_desktop_round"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <meta-data
            android:name="design_width"
            android:value="750"/>
        <meta-data
            android:name="design_height"
            android:value="1334"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RegisterLoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".language.SelectLanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert"/>
        <activity
            android:name=".CalenderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyCalendar">
        </activity>
        <activity
            android:name=".activity.registerlogin.RegisterPager1Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.registerlogin.RegisterPager2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.registerlogin.FirstPageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 注册 存储照的容器 -->
        <!--
        name:属性值，固定写法
        authorities:组件标识，按照江湖规矩,都以包名开头,避免和其它应用发生冲突。和FileProvider.getUriForFile()方法的第二个参数一致
        exported:要求必须为false，为true则会报安全异常。
        grantUriPermissions:true，表示授予 URI 临时访问权限。
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.football.freekick.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 指定Uri的共享路径 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".activity.registerlogin.RegisterPager3Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.registerlogin.OneTimePagerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.registerlogin.LoginPage1Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.registerlogin.LoginPager2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.registerlogin.RegisterByEmailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ChooseTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyCalendar">
        </activity>
        <activity
            android:name=".activity.MatchInviteActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FiltrateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyleLeft">
        </activity>
        <activity
            android:name=".activity.ArticleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MatchRateActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MatchContentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TeamDetailActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.firebase.messaging.default_notification_icon" -->
        <!-- android:resource="@drawable/ic_stat_ic_notification" /> -->
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>

        <activity
            android:name=".activity.JoinMatchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ShowMatchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ChangeTeamInfoActivity1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ChangeTeamInfoActivity2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SettingDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SameAreaTeamActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ChangeTeamInfoActivity0"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FollowedTeamsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MatchDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NoticeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FriendActivity"
            android:screenOrientation="portrait">
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps">
        </activity>
        <activity
            android:name=".activity.MatchContentActivity1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ConfirmationPendingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="22ce49b5537dc"/>
        <meta-data
            android:name="Mob-AppSecret"
            android:value="6ceeaabb27ae8739707e4b0dd900ff3a"/>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchTeamActivity">
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>